extends layout

block append head
  style.
    .btn + .btn {
      margin-left: 10px;
    }

block content
  h2 Movingstar Auth
  .panel.panel-default
    .panel-heading
      h3.panel-title <i class="fa fa-commenting-o" aria-hidden="true"></i> Community
    .panel-body
      if service && service.community && service.community.activated
        p Community URL : community.movingstar.org
        p= service.community.id
        p= service.community.pass
      else
        p Community Service is not activated
    .panel-footer.text-right
      if service && service.community && service.community.activated
        a(href='/services/community_refresh').btn.btn-primary <i class="fa fa-refresh" aria-hidden="true"></i> Regeneration
        a(href='/services/community_sync_permission').btn.btn-primary <i class="fa fa-retweet" aria-hidden="true"></i> Sync Permission
      else
        a(href='/services/community_refresh') <i class="fa fa-power-off" aria-hidden="true"></i> Activate

  .panel.panel-default
    .panel-heading
      h3.panel-title <i class="fa fa-microphone" aria-hidden="true"></i> Mumble
    .panel-body
      p Mumble Service is not activated
  .panel.panel-default
    .panel-heading
      h3.panel-title <i class="fa fa-fighter-jet" aria-hidden="true"></i> Fleet Manager
    .panel-body
      p Fleet Manager Service is not activated
  .panel.panel-default
    .panel-heading
      h3.panel-title <i class="fa fa-comments" aria-hidden="true"></i> Jabber
    .panel-body
      p Jabber Service is not activated
