extends layout

block append head
  link(rel='stylesheet', type='text/css', href='/css/dataTables.bootstrap.min.css')
  style.
    table td, table th {
      text-align: center;
      vertical-align: middle;
    }

block append scripts
  script(src='/js/jquery.dataTables.min.js')
  script(src='/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function() {
      $('#permissions').DataTable({
        "paging": true,
        "stateSave" : true,
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
      });
    } );

block content
  h2 Member Permission Management

  .panel.panel-default
    .panel-heading
      h3.panel-title Help
    .panel-body
      ul
        li This page is only avilable on those who has 'Admin' permission, NOT 'Director' permission.
        li Those who has 'Admin' permission can:
          ul
            li change permission by clicking the lable in below table. (toggle)

  table#permissions.table.table-bordered.table-striped.table-hover
    thead
      tr
        th(rowspan=2) Corporation
        th(rowspan=2) Name
        th(colspan=2) Permissions
        th Roles
      tr
        th Admin
        th Director
        th FC
    tbody
      each member in members
        tr
          td.text-left
            img(width='32px', height='32px', src='//image.eveonline.com/Corporation/' + member.corporationID + '_32.png')
            |  #{member.corporationName}
          td.text-left
            img(width='32px', height='32px', src='//image.eveonline.com/Character/' + member.characterID + '_32.jpg')
            |  #{member.name}
          td
            if member.isAdmin
              span.label.label-success YES
            else
              span.label.label-danger NO
          td
            if member.isDirector
              span.label.label-success YES
            else
              span.label.label-danger NO
          if member.hasRoles.length
            each role in member.hasRoles
              td
                if role === 'FC'
                  span.label.label-success YES
                else
                  span.label.label-danger NO
          else
            td
              span.label.label-danger NO
